.navbar{
    max-width: 100%;
    margin:0 auto;
    color: rgb(83, 167, 193);
    vertical-align: top;
    background-color: rgb(176, 236, 237);
    max-height: 200px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;

}

   


 



@media screen and (min-width:780px){
 .logoBtn{
     border:none ;
     padding: 0;
 }



navbar{
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px 10px;
}





}